{% extends "layout.html" %}
{% block content %}
        <div class="content-section">
            <form method="POST" action="">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Enter the Policy Number</legend>
                    <div class="form-group">
                        {{ form.policy_item.label(class="form-control-label") }}

                        {% if form.policy_item.errors %}
                            {{ form.policy_item(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.policy_item.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.policy_item(class="form-control form-control-lg") }}
                        {% endif %}

                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Trying to query by Agent? <a class="ml-2" href="{{ url_for('consult_by_agent') }}">Consult by Agent</a>
            </small>
        </div>
{% endblock content %}
